@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@300;600&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&family=Signika+Negative:wght@400;600&display=swap');


*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Anton', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --color-primario:rgb(112, 165, 226);
    --color-secundario:rgb(0, 0, 0);
    --color-terciario:rgb(104, 104, 104);
    --color-cuartenario:rgb(75, 160, 100);
    --color-quintario:rgb(121, 221, 235);
}
h2{
    
    display: inline;
    text-align: center;
    font-size: 2rem;
    color: white;
}
body,.primer_contenedor,article,.contenedores{
    display: flex;
    flex-direction: column;
}
body{
    background-color: var(--color-primario);
}
.section_contenedor{
    justify-content: space-evenly;
}
article{
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}
.contenedores{
    background-color: var(--color-secundario);
    width: 100%;
    height: 50%;
}
.contenedores div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.titulo_principal{
    color: white;
    padding: 10px 0;
    position: fixed;width: 100%;
    top:1;
    left: 1;
    background-color: var(--color-terciario);
    text-align: center;
}

/* hamburguesa */
.boton_hamburguesa{
 background-color: var(--color-terciario);
 width: 4em;
 height: 4em;
 position: fixed;
 right: 1rem;
 bottom: 1rem;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0;
}
.contenedor_navegacion{
    position: fixed;
    top: 1;
    bottom: 1;
    left: 1;
    height: 100vh;
    width: 100%;
    background-color: var(--color-secundario);
    opacity: 0.7;
    transition: transform 1s ease;
    transform: translate(0,-100%);
}
.contenedor_navegacion.is-active{
    transform: translate(0,0);
}
.contenedor_navegacion ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.contenedor_navegacion li{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_navegacion a{
    color: white;
    font-size: 2em;
    opacity: 1;
    text-align: center;
    text-decoration: none;
    transition: font-size 0.3s;
}
.contenedor_navegacion a:hover{
opacity: 1;
font-size: 2.1em;

}