

:root{
    --color-primario:rgb(112, 165, 226);
    --color-secundario:rgb(0, 0, 0);
    --color-terciario:rgb(104, 104, 104);
    --color-cuartenario:rgb(75, 160, 100);
    --color-quintario:rgb(38, 116, 126);
}
.contenedor_reloj{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.panel_reloj{
    height: 20%;
    display: flex;
    background-color: var(--color-terciario);
    justify-content: center;
    align-items: center;
    
}
#reloj{
font-size: 2em;
display: inline;
transition:color 1s ease;
}
.contenedor_botones{
    display: flex;
    align-items:center;
  
    justify-content:space-evenly;
    width: 100%;
    height: 50%;
}
.contenedor_botones > button{
    padding: 5px 8px;
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    border: none;
    background-color: var(--color-primario);
    transition: background 1s;
}
.contenedor_botones > button:hover{
    background-color: var(--color-quintario);
}
