:root{
    --color-primario:rgb(112, 165, 226);
    --color-secundario:rgb(0, 0, 0);
    --color-terciario:rgb(104, 104, 104);
    --color-cuartenario:rgb(75, 160, 100);
    --color-quintario:rgb(121, 221, 235);
}

.contenedor_panel{
 background-color:var(--color-cuartenario);
 height: 100%;
 display: flex;
 width: 100%;
}
.controles_panel{
width: 60px;
height: 60px;
margin: auto;
background-color: var(--color-secundario);
border-radius: 50%;
}