
.contenedor_panel{
 background-color:var(--color-cuartenario);
 height: 100%;
 display: flex;
 width: 100%;
}
.controles_panel{
width: 60px;
height: 60px;
margin: auto;
background-color: var(--color-secundario);
border-radius: 50%;
}